.footer-section {
    display: flex;
    justify-content: flex-end;
    padding-right: 20px;
    
    align-items: center;
    padding-bottom: 20px;
    
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
    
    width: 100%;
}

.box-visible { 
    opacity: 1 !important; 
    transform: translateY(0) !important; 
}

#theme-btn { 
    font-size: 1rem; 
}
#replay-btn { 
    font-size: 1rem; 
}